body {
    margin: 0;
    padding: 0;
    
}

header, footer {
    text-align: center;
}

ol {
    list-style: none;
}

.selected {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through;
}

.container {
    /*text-transform: uppercase;*/
    width: 80%;
    margin: auto;
    padding: 100px;
    text-align: center;
}
.btn, .input {
    text-transform: uppercase;
    width: 95%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.btn-container {
    margin: 50px;
}

.btn {
    width: 20%;
    margin: 10px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    box-shadow: 3px 3px 3px #bbb;
    transition: 0.5s;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.input {
    width: 95%;
}